a,a:visited
{
	color:#000000;
	text-decoration:none;
}
a:hover
{
	text-decoration:underline;
}
#categories, #categories ul{
  font-size:14px;
  font-family:Tahoma,Verdana,Arial;
  text-align:left;
  margin:0; /* Removes browser default margins applied to the lists. */
  padding:0; /* Removes browser default padding applied to the lists. */
  padding:0px;
  list-style-position:outside;
  list-style-type:none;
}

#categories li{
  margin:0 0 0 30px; /* A left margin to indent the list items and give the menu a sense of structure. */
  padding:0; /* Removes browser default padding applied to the list items. */
  list-style-type:none; /* Removes the bullet point that usually goes next to each item in a list. */
	padding:0px;
 }

#categories .images{ /* Icons */
  float:left;
  width:16px;
  height:1em;
  background-position:0 50%;
  background-repeat:no-repeat;
}
